.results {
    background-color: #282c34;
    background-image: url("https://th.bing.com/th/id/R.348a6aa0bfdd3ab40598d31e95e76c3e?rik=Yzen919ra93TIQ&pid=ImgRaw&r=0");
    background-position: 0% 10%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Syne', sans-serif;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.button {
    background-color: #393732;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    margin-top:20px;
}